<p id="notice"><%= notice %></p>

<h1>Olá <%= Client.find_by_id(current_user.meta_id).name %></h1>

<%=	 form_tag url_for(:controller => 'corridas', :action => 'create'), :method => 'post' do %>

  <%= hidden_field_tag "client_id", current_user.meta_id %>
 
  <p>
   Pedir taxi para qual endereço?:<br />
   <%= text_field_tag "address" %>
 </p>
 
 <p>
   <%= submit_tag 'Submit' %>
 </p>
<% end %>



