<!DOCTYPE html>
<html>
<head>
  <title>Taxi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>



<body>
	


<%= yield %>
<div id="user_nav">
  <% if current_user %>
    Logged in as <%= current_user.email %>.
    <%= link_to "Log out", destroy_session_path(:user), :method => :delete %>
  <% else %>
    <%= link_to "Sign up as a Client", new_client_path, :method => :get %>
    <br>or
    <%= link_to "Sign up as a Driver", new_driver_path, :method => :get %>
  <% end %>
</div>


</body>
</html>
